/* Footer
------------------------- */
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: #343A40;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
