/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}

a {
  cursor: pointer;
}

.main {
  margin-top: 100px; /* Debut de page après navbar */
}

/* FA Icons
------------------------- */
.icon-reader {
  color: #2980b9;
}

.icon-edit {
  color: #27ae60;
}

.icon-trash {
  color: #e74c3c;
}
