// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';
// Izitoast
@import '../../../node_modules/izitoast/dist/css/iziToast.min.css';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}

.main {
  margin-top: 100px; /* Debut de page après navbar */
}

main {
  margin-top: 56px; /* Debut de page après navbar */
}

/* Front
-------------------- */
.ds-btn li {
  list-style: none;
  float: left;
  padding: 10px;
}

.ds-btn li a span {
  padding-left: 15px;
  padding-right: 5px;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.ds-btn li a span small {
  width: 100%;
  display: inline-block;
  text-align: left;
}

/* FA Icons
------------------------- */
.icon-reader {
  color: #2980b9;
}

.icon-edit {
  color: #27ae60;
}

.icon-trash {
  color: #e74c3c;
}

/* Floating button + Label
--------------------------*/
.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
  z-index: 10;
}

.label-text {
  color: #FFF;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
  z-index: 10;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #06C;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
}

.my-float {
  font-size: 24px;
  margin-top: 18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 7rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.user-is-not-actif {
  position: absolute;
  z-index: 2;
  width: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.list-restaurants {
  a:hover {
    text-decoration: none;
  }

  .card {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
  }

  .card:hover {
    z-index: 2;
    box-shadow: 0px 0px 150px #aaa;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
  }

}

/* Center align the text within the three columns below the carousel */
.list-restaurants .col-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.list-restaurants h2 {
  font-weight: 400;
}

.list-restaurants .col-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Tooltip
------------------------- */
.custom-tooltip {
  position: relative;
}

.custom-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
}

.custom-tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
}

.custom-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bottom-arrow.tooltiptext {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.bottom-arrow.tooltiptext::after {
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.top-arrow.tooltiptext {
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.top-arrow.tooltiptext::after {
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.left-arrow.tooltiptext {
  top: 0;
  left: 110%;
  margin-left: 0;
}

.left-arrow.tooltiptext::after {
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.right-arrow.tooltiptext {
  top: 0;
  right: 110%;
  margin-left: 0;
}

.right-arrow.tooltiptext::after {
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

/* Home page
------------------------- */


/* Profil
------------------------- */
.profil-menu {
  margin-top: 30px;
}

/* Contact page
------------------------- */
.top-page-contact {
  height: 400px;
  width: 100%;
  background-color: #4aa0e6;
  -webkit-background-size: cover;
  background-size: cover;
}

/** Animation
-------------------------------------------------- */
.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform .5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform .5s ease-out;
}

/* Animate
------------------------- */
ul.quick-links li a {
  color: #3490DC;
}

ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

ul.quick-links li a i {
  margin-right: 5px;
}

ul.quick-links li:hover a i {
  font-weight: 700;
}


/* Footer
------------------------- */
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: #343A40;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}


/******************************
Responsive

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {

}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {

}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  .listing_location a {
    max-width: 100%;
  }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {

}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {

}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {

}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {

}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {

}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {

}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {

}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {

}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {

}
